/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'Open Sans', sans-serif;
}


main h1{
    padding: 1.5em 0;   
}

nav *{
    display: inline-block;
}

nav>*{
    line-height: 80px;
}

nav ul li a{
    color:black;
}

.weight,
nav ul li a{
    font-weight: 500;
}


nav ul li a,
nav > a,
div a.btn{
    text-decoration: none;
}

nav.nav-container ul li{
    margin: 0 1em;
}

div.col-right{
    width: 960px;
    height: 542.4px;
    background-image: url(../img/jumbo.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(0.9);
}


div.col-left{
    margin-top: 25px;
}


div.col-left div.btn-blue{
    margin: 1em 0;
}

div.jumbotron h1{
    font-size: 4em;
}

section.container-S{
    margin: 0 auto;
    height: 2000px;
    
}

section.container-S > h1{
    font-size: 2.8em ;
}

section.container-S form{
    margin-bottom: 2em ;
}

section.container-B{
    width: 100%;
    height: 500px;
    background-color: blue;
}

.container{
    border: 1px solid rgb(166, 166, 168);
}

div.container-column{
    width: calc((100% / 3) - 38px);;
    padding-bottom: 250px;/* temporaneo */
}

div.container-row{
    width: 100%;
}

.gutter-mid{
    margin: 0px 57px;;
}

div.container-column ul{
    list-style-type: none;
}

div.container-column ul,
div.container-column ul li,
.top{
    margin-top: 2em;
}

div.container-column li:before{
    content: "\2713";
    color: rgb(1, 92, 255);
}

.crd-bottom{
    margin-top:  3em;
}

div.block-center h6{
    color:rgb(155, 165, 174)
}

.block-center{
    padding: 1.9em;
}

div.name-sub *{
    margin-top: 1em
}

.vertical-spacing{
    margin: 1.3em 0;
}

.align-center{
    border-bottom: 1px solid rgb(166, 166, 168);
    padding: 1em;
}

.txt-center{
    text-align: center;
}


.txt-format{
    font-weight: 600;
}

.size{
    font-size: .8em;
}

.fa-arrow-down{
    font-size: 3em;
    margin-top: 1em;
}

.padding{
    padding: 144px 144px 0px;
}

.top-spacing{
    padding-top: 8em;
}

.perc-larghezza-R{
    width: 70% ;
}

.nav-container{
    height: 80px;
    width: 98vw;
    margin: 0 auto;
    min-width: 1100px;
}

.btn{
    color: white;
    background-color: blue;
}

.btn-blue-small{
    padding: 0.8em 1.9em;
} 

.btn-blue-large{
    padding: 0.8em 1.9em;
    display: block;
}

.btn-W{
    width: 30%;
}

.L-height{
    line-height: 3em;
}

.jumbotron{
    background-color: rgb(180, 208, 231) ;
    height: 763px;
}

.resize-img-partner{
    position: relative;
    padding: 44px;
    right: 44px;
    bottom: 33px;
    width: calc(61% - 17px);
}

.resize-paragraph{
    width: 39%;
    margin-right: 17px;
    margin-top: 49px;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}


#nav-logo{
    vertical-align: -5px;
    margin-right: 30px;
}

#diff-l-height{
    line-height: 1em;
}

#jumbo-img{
    transform: scale(0.5);
}

#annuale{
    margin-left: 2em;
}