/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'Open Sans', sans-serif;
}


.padding-title-top{
    padding-top: 1.5em;   
}

.padding-title-bottom{
    padding-bottom: 1.5em;
}

.padding-svg-title{
    padding-bottom: 2%;
    padding-top: 8%;
}

nav *{
    display: inline-block;
}

nav>*{
    line-height: 80px;
}

nav ul li a,
#btn-white,
.no-deco{
    color:black;
}

.weight,
nav ul li a{
    font-weight: 500;
}


nav ul li a,
nav > a,
div a.btn,
#btn-white,
.no-deco{
    text-decoration: none;
}

nav.nav-container ul li{
    margin: 0 1em;
}

div.col-right{
    width: 960px;
    height: 542.4px;
    background-image: url(../img/jumbo.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(0.9);
}


div.col-left,
.p-top-margin{
    margin-top: 25px; 
}


div.col-left div.btn-blue{
    margin: 1em 0;
}

div.jumbotron h1{
    font-size: 4em;
}

section.container-S,
.margin-auto{
    margin: 0 auto;
    
}


section.container-S > h1{
    font-size: 2.8em ;
}

section.container-S form{
    margin-bottom: 2em ;
}


.container{
    border: 1px solid rgb(166, 166, 168);
}

div.container-column{
    padding-bottom: 250px;
}

.card-column{
    width: calc((100% / 3) - 38px);
}

div.container-row,
section.container-B,
.img-business,
.top-row-svg{
    width: 100%;
}

.relative{
    position: relative;
}

.img-business{
    height: 261px;
    background-size: contain;
    background-repeat: no-repeat;
}

.img-business-tools{
    background-image: url(../img/business-feature-switching-tools.png);
}

.img-business-coordinate{
    background-image: url(../img/business-feature-coordinate-it.png);
}

.img-business-multi-device{
    background-image: url(../img/business-feature-multi-device.png);
}

.img-business-integration{
    background-image: url(../img/business-feature-integrations-it.png);
}

.img-business-send-iles{
    background-image: url(../img/business-feature-send-files-it.png);
}

.img-business-secutiry{
    background-image: url(../img/business-feature-security.png);
}

.row-bot-business{
    margin-top: 7em;
}

.gutter-mid{
    margin: 0px 57px;;
}

.gutter-top{
    padding-top: 6%;
}

div.container-column ul{
    list-style-type: none;
}

div.container-column ul,
div.container-column ul li,
.top{
    margin-top: 2em; 
}

div.container-column li:before{
    content: "\2713";
    color: rgb(1, 92, 255);
}

.crd-bottom{
    margin-top:  3em; 
}

div.block-center h6{
    color:rgb(155, 165, 174)
}

.block-center{
    padding: 1.9em;
}

div.name-sub *,
.fa-arrow-down{
    margin-top: 1em 
}

.vertical-spacing{
    margin: 1.3em 0;
}

.align-center{
    border-bottom: 1px solid rgb(166, 166, 168);
    padding: 1em;
}

.txt-center{
    text-align: center;
}


.txt-format{
    font-weight: 600;
}

.size{
    font-size: .8em;
}

.line-paragraph{
    margin: 6% 0%;
}


.fa-arrow-down{
    font-size: 3em;
}

.padding{
    padding: 144px 144px 0px;
}

.top-spacing{
    padding-top: 8em;
}

.perc-larghezza-R{
    width: 70% ;
}

.width-small{
    width: 30%;
}

.nav-container{
    height: 80px;
    width: 98vw;
    min-width: 1100px;
}

.btn{
    color: white;
    background-color: blue;
}

.btn-blue-small{
    padding: 0.8em 1.9em;
} 

.btn-blue-large{
    padding: 0.8em 1.9em;
    display: block;
}

.btn-white-svg{
    background-color: white;
}

.btn-white-padding{
    padding: 0.5em 1em;
}


.L-height{
    line-height: 3em;
}

.jumbotron{
    background-color: rgb(180, 208, 231) ;
    height: 763px;
}

.resize-img-partner{
    padding: 44px;
    right: 44px;
    bottom: 33px;
    width: calc(61% - 17px);
}

.resize-paragraph{
    width: 39%;
    margin-right: 17px;
    margin-top: 49px;
    line-height: 1.8em;
}


.square-svg{
    width: 28%;
    height: 425.38px;
}

.square-svg img{
    width: 100%;
    height: 100%;
    filter: invert();
    
}

.designit-banner{
    width: 44%;
    height: 100%;
    padding: 3%;
    background-color: rgb(245, 245, 245);
}

div.designit-banner>div{
    transform: scale(0.4);
    right: 172px;
    bottom: 56px;
}

.author-sign{
    top: 60px;
    padding-bottom: 15%;
}

.top-row-svg{
    height: 425.38px;
}

.row-svg{
    height: 50%;
    width: 100%;
}

.little-square-svg{
    width: 50%;
    height: 100%;
    padding: 8%;
}

.bg-color-deisgnit{
    background-color: rgb(162, 211, 155);
}

.bg-color-asu{
    background-color: rgb(97, 8, 43);
}

.bg-color-uf{
    background-color: rgb(0, 147, 206) ;
}

.bg-color-topps{
    background-color: rgb(255, 28, 28) ;
}

.bg-color-bicycle{
    background-color: rgb(213, 0, 31);
}

.bg-color-hearts{
    background-color: rgb(180, 208, 231) ;
}

.bg-color-lonely{
    background-color: rgb(13, 36, 129) ;
}

.bg-color-clear{
    background-color: rgb(255, 216, 48);
}


.title-stile-svg{
    width: 60%;
    font-size: 2.5em;
}

.padding-title-bot-svg{
    padding: 8% 0%;
}

div.padding-svg-title div{
    margin: 19px 0;
}

.line-height-faq{
    line-height: 5.5em;
}

.fas{
    padding-top: 2.1em;
}

.horizontal-rule{
    border-bottom: 2px solid rgb(220, 220, 222);
}



.float-left{
    float: left;
}

.float-right{
    float: right;
}


#nav-logo{
    vertical-align: -5px;
    margin-right: 30px;
}

#diff-l-height{
    line-height: 1em;
}

#jumbo-img{
    transform: scale(0.5);
}

#annuale{
    margin-left: 2em;
}

#btn-white{
    border: 2px solid;
}

#florida{
    padding: 40% 0%;
}