/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'Open Sans', sans-serif;
}

nav *{
    display: inline-block;
}

nav>*{
    line-height: 80px;
}

nav ul li a{
    color:black;
    font-weight: 700;
}

nav ul li a,
nav > a{
    text-decoration: none;
}

nav.nav-container ul li{
    margin: 0 1em;
}

.nav-container{
    height: 80px;
    width: 98vw;
    margin: 0 auto;
}

.btn-blue{
    background-color: rgb(0, 97, 255) ;
    color: white;
    padding: .7em 1.3em;

}

.float-left{
    float: left;
}

.float-right{
    float: right;
}


#nav-logo{
    vertical-align: -5px;
}

#diff-l-height{
    line-height: 1em;
}